* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
button {
    appearance: none;
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    font: inherit;
    text-align: initial;
}
input, textarea {
    font: inherit;
}
textarea {
    resize: vertical
}
.norm-a {
    color: inherit;
    text-decoration: none;
}
.norm-ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
