.l-h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.w-half {
    width: 50%;
}
.l-flex,
.l-align-horizontal,
.l-align-verticle,
.l-align-bottom,
.l-align-end,
.l-align-top,
.l-flex-wrap
{
    display: flex;
}
.l-flex-wrap {
    flex-wrap: wrap;
}
.l-align-verticle {
    align-items: center;
}
.l-align-top {
    align-items: flex-start;
}
.l-align-bottom {
    align-items: flex-end;
}
.l-align-end {
    justify-content: flex-end;
}
.l-cellSpread-x {
    flex-grow: 1;
    width: 0;
}
.l-grid
{
    display: grid;
}
.l-grid--dashboard {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:    "header header"
                            "sidebar main";
}
.l-grid--dashboard > * {
    min-width: 0;
}

.l-span-1 {
    grid-column: span 1;
}
.l-span-2 {
    grid-column: span 2;
}
.l-span-3 {
    grid-column: span 3;
}
.l-span-4 {
    grid-column: span 4;
}
.l-span-5 {
    grid-column: span 5;
}
.l-span-6 {
    grid-column: span 6;
}

.l-grid--dashboard > header {
    grid-area: header;
}
.l-grid--dashboard > aside {
    grid-area: sidebar;
}
.l-grid--dashboard > main {
    grid-area: main;
}

.l-overflow-auto {
    overflow-y: auto;
    overflow-x: visible;
}
.l-layerUp {
    position: relative;
    z-index: 1;
}