@import 'theme.css';
@import 'base.css';
@import 'modules.css';
@import 'layout.css';
@import 'modifiers.css';

body, html {
    height: 100%;
}
body {
    font-size: var( --main-font-size );
    font-family: 'Open Sans', sans-serif;
    color: var( --main-text-color );
    font-weight: 100;
}
@media (max-width: 480px){
    body {
        font-size: 12px;
    }
}
