h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    margin: 0 0 .35em;
}
.m-space {
    min-width: var(--space);
}
.m-space-med {
    min-width: var(--space-med);
}
.m-space-small {
    min-width: var(--space-small);
}
.m-pad {
    padding: var(--space);
}
.m-pad-med {
    padding: var(--space-med);
}
.m-pad-small {
    padding: var(--space-small);
}
.m-pad-smallest {
    padding: var(--space-smallest);
}
.t-marginEnd {
    margin-inline-end: var(--space);
}
.t-marginEnd-med {
    margin-inline-end: var(--space-med);
}
.t-marginEnd-small {
    margin-inline-end: var(--space-small);
}
.t-marginStart {
    margin-inline-start: var(--space);
}
.t-marginStart-med {
    margin-inline-start: var(--space-med);
}
.t-marginStart-small {
    margin-inline-start: var(--space-small);
}

.t-bg-main {
    background-color: var(--c-main);
    color: #fff;
}
.t-bg-grey-1 {
    background-color: var(--c-grey-1);
}

.t-bg-magenta {
    background-color: var(--c-magenta);
    color: #fff;
}
.t-bg-purple {
    background-color: var(--c-purple);
    color: #fff;
}
.t-bg-lime {
    background-color: var(--c-lime);
}
.t-bg-cyanLight {
    background-color: var(--c-cyanLight);
}
.t-c-main {
    color: var(--c-main);
}
.t-c-secondary {
    color: var(--c-secondary);
}
.t-c-magenta {
    color: var(--c-magenta);
}
.t-c-purple {
    color: var(--c-purple);
}
.t-c-lime {
    color: var(--c-lime);
}
.t-c-cyanLight {
    color: var(--c-cyanLight);
}

.t-shadow {
    box-shadow: var(--shadow);
}


.t-row {
    margin-bottom: var(--space);
}
.t-row-med {
    margin-bottom: var(--space-med);
}
.t-row-small {
    margin-bottom: var(--space-small);
}
.t-row-0 {
    margin-bottom: 0;
}
.t-hover:hover {
    filter: brightness(180%);
}

.t-fs-small {
    font-size: var(--fs-small);
}