html {
    --main-text-color: #444;
    --main-font-size: 14px;
    --fs-small: calc( 12 / 14 * 1em ) ;
    --space: calc( 32 / 14 * 1em );
    --space-med: calc( 16 / 14 * 1em );
    --space-small: calc( 8 / 14 * 1em ); 
    --space-smallest: calc( 4 / 14 * 1em );
    --width-sidebar: calc( 250 / 14 * 1em );
    --width-logo: calc( 309 / 14 * 1em );
    --shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    --c-main: #0091EA;
    --c-secondary: #283593;
    --c-magenta: #F50057;
    --c-purple: #D500F9;
    --c-lime: #76FF03; 
    --c-cyanLight: #E1F5FE;
    --c-grey-1: #FAFAFA;
    --c-grey-2: #EEEEEE;
    --c-grey-border: #B0BEC5;

}