
.b-submitDetails .l-grid {
    gap: var(--space-small);
    grid-template-columns: auto 1fr auto 1fr;
}
.b-submitDetails .b-input--textArea {
    grid-column: span 3;
}

@media (max-width: 480px){
    .b-submitDetails .l-grid {
        grid-template-columns: auto 1fr;
    }
    .b-submitDetails .b-input--textArea {
        grid-column: span 1;
    }
    
}
