.b-mainHeader {
    /*l-flex l-layerUp m-pad-med t-bg-main */
    display: flex;
    position: relative;
    z-index: 3;
    padding: var(--space-med);
    background-color: var(--c-main);
    color: #fff;
}
