.b-controller {
    color: var(--c-secondary);
    border: 1px solid;
    border-radius: 4px;
    width: var(--space);
    height: var(--space);
}

.b-input {
    width: 100%;
    height: var(--space);
    border: 1px solid var(--c-grey-2);
    border-radius: .25em;
    padding: var(--space-small);
}
.b-input::placeholder {
    transition: all 200ms ease-out;
}
.b-input:focus::placeholder {
    font-size: 60%;
    transform: translateY(50%);
}
textarea.b-input {
    min-height: 5em;
}

.b-button {
    padding: var(--space-small) var(--space-med); 
    background: var(--c-main);
    color: #fff;
    border-radius: .25em;
    white-space: nowrap;
    box-shadow: 
    inset -1px 34px 29px -5px rgba(255, 255, 255, 0.15),
    inset 1px -35px 29px -5px rgba(0, 0, 0, 0.15);
}
.b-button > * {
    vertical-align: middle;
}
.b-button:hover {
    filter: brightness(110%)
}

.b-controller:hover {
    filter: brightness(210%)
}
