.b-mainPanel {
    display: grid;
    gap: var(--space-med);
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
/* --- Main Panel --- */
@media (max-width: 750px){
    .b-mainPanel {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .b-mainPanel > .b-widget {
        grid-column: span 5;
    }
}
