.b-mainMenu {
    /*l-align-bottom l-align-end*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.b-mainMenu > a {
    margin-left: var(--space-med);
}
.b-mainMenu > a:hover {
    opacity: 0.8;
}
@media (max-width: 1000px ){
    .b-mainHeader .b-mainMenu {
        display: none;
    }
    .b-mainMenu {
        display: block;
        background: var(--c-main);
        color: #fff;
        margin: calc( -1 * var(--space-med) );
        margin-bottom: var(--space-med);
    }
    .b-mainMenu > a {
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        margin: 0;
        padding: var(--space-small) var(--space-med);
    }
}
