
.b-sidebar {
    width: var(--width-sidebar);
    padding: var(--space-med);
    background-color: #fff;
    position: relative;
    z-index: 1;
    box-shadow: var(--shadow);
    transition: margin-left 400ms ease-in-out;
    color: var(--c-secondary);
    overflow: auto;
}
.b-sidebar.is-toggled {
    margin-left: calc( -1 * var(--width-sidebar) );
}
@media (max-width: 1000px){
    .b-sidebar {
        margin-left: calc( -1 * var(--width-sidebar) );
        transition: transform 400ms ease-in-out;
    }
    .b-sidebar.is-toggled {
        transform: translateX(var(--width-sidebar));
    }
}
