.b-slider {
    display: flex;
    align-items: center;
}
.b-slider .slick-list {
    width: 0;
    flex-grow: 1;
    height: 100%;
}
.b-slider .slick-track {
    height: 100%;
    display: flex;
}
.b-slider .slick-slide {
    float: none;
    height: auto;
}
.b-slider .slider-btn {
    /*t-marginEnd-med t-c-secondary*/
    color: var(--c-secondary);
}
