
.b-tableWrap table {
    position: relative;
}
.b-tableWrap th,
.b-tableWrap td {
    padding: var(--space-small);
}
.b-tableWrap th {
    background-color: var(--c-grey-2);
    position: sticky;
    top: 0;
}
.b-tableWrap tr:hover td {
    color: var(--c-secondary)
}
.b-tableWrap td {
    border-bottom: 1px solid var(--c-grey-2);
}

@media(max-width: 750px){
    .b-tableWrap {
        overflow: auto;
    }
    .b-tableWrap table {
        min-width: 550px;
    }
}
