.b-widget {
    padding: var(--space-med);
    background-color: #fff;
    box-shadow: var(--shadow);
}
.b-widget .b-widget {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    padding-bottom: var(--space-small);
    padding-bottom: var(--space-small);
    border-bottom: 1px solid var(--c-grey-2);
}
.b-widtet--stripped {
    background: none;
    box-shadow: none;
    padding: 0;
}
